/*------------------------------------------------------------
common
------------------------------------------------------------*/
body {
  font-family: 'Noto Sans JP', 'Century Gothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 游ゴシック体, YuGothic, "Yu Gothic Medium", 游ゴシック, 'Yu Gothic', メイリオ, Meiryo, sans-serif;
}

#xxxxxx {
  font-size: 13px;
  font-weight: 500;
  color: #000;
  overflow: hidden;
  background: #fff;
  position: relative;
}

#xxxxxx * {
  box-sizing: border-box;
}

#xxxxxx a {
  transition: opacity .3s;
}

#xxxxxx a[href^="tel:"] {
  display: inline-block;
  transition: none;
}

#xxxxxx a:hover {
  text-decoration: none;
}

#xxxxxx a:focus-visible {
  outline: none;
}

#xxxxxx img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#xxxxxx .js-fadein {
  opacity: 0;
  transform: translate(0, 20px);
  transition-property: opacity, transform;
  transition-duration: 1s;
}

#xxxxxx .scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

#xxxxxx .pc-br {
  display: none;
}

#xxxxxx .sp-br {
  display: inline;
}

#xxxxxx .inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

@media print, screen and (min-width: 768px) {
  
  #xxxxxx .sp-br {
    display: none;
  }
  
  #xxxxxx .pc-br {
    display: inline;
  }
  
}
